
body{
  background-image: url("../imagenes/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black; 
  color: black;
}

p{
  
  text-align: justify;
  font-family: 'Lora', serif;
  font-size: 16pt;
  color: black;
}


.menu-superior{
  position: fixed;
  width: 100%;
  background-color:#333399;
  height: 56px;
  top: 0px;   
}
.menu-superior ul{
  text-align: center;
  list-style-type: none;
  margin-top: 10px, auto;
}
.menu-superior ul li {
  font-family: cursive;
  font-size: 14px;
  display: inline-block;
  margin: 4px;
  padding: 1px;
  
}


.menu-superior ul li a {
  text-decoration: none;
  color: white;
}
.menu-abajo{
  background: #333399;
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 60px;
    
}
.menu-abajo  ul{
  margin-top: 7px;
  text-align: center;
  list-style: none;  
  padding: 0px;

}
.menu-abajo  ul li {
  display: inline-block;
  text-align: center;
  font-family: cursive;
  font-size: 14px;
  padding: 5px;
}
  
.menu-abajo  a{
  text-decoration: none;
  color: white;
}

.menu-abajo  ul li img{
  
  margin-top:3px;
  margin-bottom: 3px; 
  margin-left: 3px;
  margin-right: 9px;
  width: 25px;
  height: 25px;
}
.contenedor{
  background: none;
  
}
.selected{
  border-bottom: 2px solid rgb(91, 91, 182);
  border-radius: 2%;
}

.selected a{
  font-weight: bold;
  color: gray;
}
.cuerpo{
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 150px;
  margin-bottom: 150px;
}

.titulo{
  width: 67%;
  text-align: center;
  float: right;
}

.img-inicio{
  width: 270px;
  height: 320px;
  text-align: left;
  float: left;
}

.introduccion{
  text-align: justify;
  width: 67%;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}
#p1{
  float: left;
}

.img-cuento{
  
  text-align: center;
  
}
.img-cuento img{
  width: 500px;
  height: 300px;
}
.cuerpo-c{
  margin-top: 50px;
  margin-left: 15%;  
  margin-right: 150px;  
  margin-bottom: 150px;  
  background: #C3C3E5;  
  padding: 20px;
}